h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: DarkOliveGreen; */
    color: rgb(70, 71, 132);
    text-align: center;
    font-size: 5rem;
    background-color: rgb(235, 193, 179);
}


.background {
    background-image: url('fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: 3rem;
    background-color:blanchedalmond;
}


h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(16, 27, 27);
    background-color:rgb(206, 181, 224);
    font-size: 3rem;
    text-align: center;
}

.maindirectory {
    color: palevioletred;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(206, 181, 224);
    /* background-color: purple; */
    font-size:1.5rem;
}

h3{
    font-size: 3rem;
    background-color:skyblue;
}

.frases{
    font-size:1.5rem;
}

.amo{
    color:darkred;
}

.razones{
    font-size: 2.5rem;
}

.enumeradas{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.5rem;
}

.pd{
    font-size:0.8rem;
    color:darkslategrey;
}

h4{
    font-family:cursive;
    color:darkslategray;
    background-color:rgb(120, 170, 161);
    font-size: 3rem;
    text-align: center;
}

.musica{
    font-size:1.5rem;
}

h5{
    font-size:3rem;
    text-align:center;
    color:cadetblue
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

section {
    padding: 20px;
    background-color: blanchedalmond; /* Ajusta según lo que prefieras */
}

.heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('https://cdn-icons-png.flaticon.com/512/833/833472.png') no-repeat center;
    background-size: contain;
    animation: float 6s infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-300px);
        opacity: 0;
    }
}
